/* -- Your Styles Here -- */

a {
  text-decoration: none;
}

body.blip { background: #ffff00; }

.left { float: left; }
.right { float: right; }
.inline-block { display: inline-block; }
.clearfix { overflow: hidden; width: auto; }

audio { display: none; }

.playerUI a {
  width: 64px;
  line-height: 64px;
  text-align: center;
}

.playerUI.playStatus--paused .playerUI-pause {
  display: none;
}

.playerUI.playStatus--playing .playerUI-play {
  display: none;
}

.playerUI-progress {
  z-index: 2; height: 20px; left: 0; position: absolute; background: #f05a28;
}

a.disabled { color: #ccc; }

.debugPanel {display: none;}
